* {
    box-sizing: border-box;
}

h1.title{
    font-family: 'Raleway';
    font-size: 30px;
    text-align: center;
    margin: 20px;
    /* border: 1px black solid; */
}

div.navtop{
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px black solid; */
}

ul{
    list-style-type: none; /* remove bullet points */
    overflow: hidden;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
    /* border: 1px black solid; */
}

li{
    display: inline-block; /* remove line breaks before and after each list element to display them horizontally */
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    font-family: 'Raleway';
    font-size: 18px;
    /* border-left: 1px solid #000000; */
    /* border-right: 1px solid black; */
    border: 1px black solid;
}

/* li.first{
    border-left: none;
} */

/* Change the color of links on hover */
.navtop li:hover {
    background-color:rgb(0, 0, 0);
    color: white;
  }

h1.center{
    font-family: Calibri;
    font-size: 1.5cm;
    text-align: center;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -280px;
    position: absolute;
    top: 50%;
    width: 100%;
}

p.center{
    font-family: Calibri;
    text-align: center;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -240px;
    position: absolute;
    top: 50%;
    width: 100%;
}
